<script type='text/html' id='side-panel-template'>
    <div class="right-panel">
        <div class="row side-panel side-panel-info">
            <div class="col-lg-12" id="content-panel">
            </div>
        </div>
        <div class="right-panel-header">
            <div class="row">
                <div class="col-lg-12">
                    <div class="pull-right">
                        <img class="close-icon close-panel header-panel-button"
                             src="/static/img/close_icon.svg">
                    </div>
                    <div class="pull-left">
                        <i class="fa fa-caret-square-o-left return-panel header-panel-button"></i>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <span class="right-panel-title"></span>
                </div>
            </div>


        </div>
    </div>
</script>

<script type='text/html' id='side-panel-biodiversity-data-template'>
	<div id="biodiversity_data">
		<div class="col-12" style="padding-top: 0.5rem; padding-bottom: 0.5rem;">
			<div class="row" id="biodiversity_data_types">
				<div class="col-3">Type</div>
				<div class="col-3 fish-icon"></div>
				<div class="col-3 invertebrate-icon"></div>
				<div class="col-3 algae-icon"></div>
			</div>
			<div class="row" id="biodiversity_data_occurrences">
				<div class="col-3">Occurrences</div>
				<div class="col-3"><%= occurrences[0] %></div>
				<div class="col-3"><%= occurrences[1] %></div>
				<div class="col-3"><%= occurrences[2] %></div>
			</div>
			<div class="row" id="biodiversity_data_sites">
				<div class="col-3">Sites</div>
				<div class="col-3"><%= sites_count[0] %></div>
				<div class="col-3"><%= sites_count[1] %></div>
				<div class="col-3"><%= sites_count[2] %></div>
			</div>
			<div class="rp-pie-charts">
				<div class="row" id="origin_pie_charts">
					<div class="col-3">Origin</div>
					<div class="col-3"><canvas id="fish-rp-origin-pie"></canvas></div>
					<div class="col-3"><canvas id="invertebrate-rp-origin-pie"></canvas></div>
					<div class="col-3"><canvas id="algae-rp-origin-pie"></canvas></div>
				</div>
				<div class="row" id="endemism_pie_charts">
					<div class="col-3">Endemism</div>
					<div class="col-3"><canvas id="fish-rp-endemism-pie"></canvas></div>
					<div class="col-3"><canvas id="invertebrate-rp-endemism-pie"></canvas></div>
					<div class="col-3"><canvas id="algae-rp-endemism-pie"></canvas></div>
				</div>
				<div class="row" id="conservation-status_pie_charts">
					<div class="col-3">Conservation Status</div>
					<div class="col-3"><canvas id="fish-rp-conservation-status-pie"></canvas></div>
					<div class="col-3"><canvas id="invertebrate-rp-conservation-status-pie"></canvas></div>
					<div class="col-3"><canvas id="algae-rp-conservation-status-pie"></canvas></div>
				</div>
			</div>
			<div class="row" id=number-of-taxa">
				<div class="col-3">No. of taxa</div>
				<div class="col-3"><%= taxa_count[0] %></div>
				<div class="col-3"><%= taxa_count[1] %></div>
				<div class="col-3"><%= taxa_count[2] %></div>
			</div>
			<div class="row" id="ecological-condition">
				<div class="col-3">Ecological Condition</div>
				<div class="col-3">Good</div>
				<div class="col-3">Fair</div>
				<div class="col-3">Poor</div>
			</div>
			<div  id="rp-dashboard-buttons">
				<div class="row">
					<div class="col-3" style="padding-left: 15px;">Dashboards</div>
					<div class="col-3" id="rp-view-fish"></div>
					<div class="col-3" id="rp-view-invertebra">
					</div>
					<div class="col-3" id="rp-view-algae"></div>
				</div>
				<div class="row">
					<div class="col-3" style="padding-left: 15px;">SASS and Fish Form</div>
					<div class="col-3" id="rp-view-sass"></div>
					<div class="col-3" id="rp-add-sass"></div>
					<div class="col-3" id="rp-view-fish-form"></div>
				</div>
			</div>
		</div>
	</div>
</script>
